body {
    background-color: black;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    color: azure;
    font-family: helvetica;
    text-align: center;
}

h2 {
    color: azure;
    font-family: helvetica;
}